@model Bkav.eGovCloud.Areas.Admin.Models.Settings.PasswordPolicySettingsModel
@{
    ViewBag.Title = Localizer("Bkav.eGovCloud.Areas.Admin.Title.Setting.PasswordPolicy");
    Layout = "_SettingLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/bkav.egov/libs/jquery/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/jquery/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $('input.input-validation-error').first().focus();
        $("form").submit(function () {
            $(this).find('input.input-validation-error').first().focus();
        });

        var enableSyntaxChecking = $("#EnableSyntaxChecking");
        var fieldSyntax = $("table tr[type=syntax]");
        var enableExpiration = $("#EnableExpiration");
        var fieldExpiration = $("table tr[type=expiration]");
        var enableLockout = $("#EnableLockout");
        var fieldLockout = $("table tr[type=lockout]");
        var enableHistory = $("#EnableHistory");
        var fieldHistory = $("table tr[type=history]");

        if (enableSyntaxChecking.prop("checked")) {
            fieldSyntax.show();
        } else {
            fieldSyntax.hide();
        }

        if (enableExpiration.prop("checked")) {
            fieldExpiration.show();
        } else {
            fieldExpiration.hide();
        }

        if (enableLockout.prop("checked")) {
            fieldLockout.show();
        } else {
            fieldLockout.hide();
        }

        if (enableHistory.prop("checked")) {
            fieldHistory.show();
        } else {
            fieldHistory.hide();
        }

        enableSyntaxChecking.change(function () {
            if (this.checked) {
                fieldSyntax.show();
            } else {
                fieldSyntax.hide();
            }
        });

        enableExpiration.change(function () {
            if (this.checked) {
                fieldExpiration.show();
            } else {
                fieldExpiration.hide();
            }
        });

        enableLockout.change(function () {
            if (this.checked) {
                fieldLockout.show();
            } else {
                fieldLockout.hide();
            }
        });

        enableHistory.change(function () {
            if (this.checked) {
                fieldHistory.show();
            } else {
                fieldHistory.hide();
            }
        });

        if ($("#EnableCaptcha").is(":checked")) {
            captchaCheck();
        }
        captchaNumberChecks();
        $("#EnableCaptcha").change(function () {
            captchaCheck();
        });
        $("[name='CaptchaType']").change(function () {
            captchaNumberChecks();
        });

        function captchaNumberChecks() {
            if ($("[name='CaptchaType']:checked").val() == "Text") {
                $(".captcha.keynumbers").show();
            }
            else {
                $(".captcha.keynumbers").hide();
            }
        }

        function captchaCheck() {
            $("table .captcha, .lockoutTime").toggle();
        }
    });
</script>
<div id="tabs" class="bkavegov">
    <div class="bkavegov">
        @Html.Partial("_Notifications")
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.checkpassword"></b>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:0;width:28%">
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.EnableSyntaxChecking):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EnableSyntaxChecking)
                        @Html.ValidationMessageFor(model => model.EnableSyntaxChecking)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MinimumLength):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MinimumLength)
                        @Html.ValidationMessageFor(model => model.MinimumLength)
                    </td>
                </tr>
                <tr type="syntax">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MinimumLowerCase):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MinimumLowerCase)
                        @Html.ValidationMessageFor(model => model.MinimumLowerCase)
                    </td>
                </tr>
                <tr type="syntax">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MinimumUpperCase, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MinimumUpperCase)
                        @Html.ValidationMessageFor(model => model.MinimumUpperCase)
                    </td>
                </tr>
                <tr type="syntax">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MinimumNumbers, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MinimumNumbers)
                        @Html.ValidationMessageFor(model => model.MinimumNumbers)
                    </td>
                </tr>
                <tr type="syntax">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MinimumSymbols, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MinimumSymbols)
                        @Html.ValidationMessageFor(model => model.MinimumSymbols)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.passworddeadtime"></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.EnableExpiration, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EnableExpiration)
                        @Html.ValidationMessageFor(model => model.EnableExpiration)
                    </td>
                </tr>
                <tr type="expiration">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MaximumAge, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MaximumAge)
                        @Html.ValidationMessageFor(model => model.MaximumAge)
                        &nbsp;<span data-res="egov.resources.commonlabel.time._date"></span>
                    </td>
                </tr>
                <tr type="expiration">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.WarningTime, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.WarningTime)
                        @Html.ValidationMessageFor(model => model.WarningTime)
                        &nbsp;<span data-res="egov.resources.commonlabel.time._date"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.lookaccount"></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.EnableLockout, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EnableLockout)
                        @Html.ValidationMessageFor(model => model.EnableLockout)
                    </td>
                </tr>
                <tr type="lockout">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MaximumLogonFailure, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MaximumLogonFailure)
                        @Html.ValidationMessageFor(model => model.MaximumLogonFailure)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.MaximumUserInput, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MaximumUserInput)
                        @Html.ValidationMessageFor(model => model.MaximumUserInput)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.enablecaptcha"></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.EnableCaptcha, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EnableCaptcha)
                        &nbsp;<span data-res="egov.resources.setting.passwordpolicy.captchanote"></span>
                        @Html.ValidationMessageFor(model => model.EnableCaptcha)
                    </td>
                </tr>
                <tr class="captcha">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.CaptchaType):
                    </td>
                    <td>
                        <label>
                            @Html.RadioButtonFor(model => model.CaptchaType, Bkav.eGovCloud.Entities.CaptchaType.Text)
                            <span data-res="egov.resources.setting.passwordpolicy.captchatext"></span>
                            <br />
                            @Html.RadioButtonFor(model => model.CaptchaType, Bkav.eGovCloud.Entities.CaptchaType.Math)
                            <span data-res="egov.resources.setting.passwordpolicy.captchamath"></span>
                        </label>
                    </td>
                </tr>
                <tr class="captcha keynumbers">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.CaptchaKeyNumbers):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CaptchaKeyNumbers)
                        @Html.ValidationMessageFor(model => model.CaptchaKeyNumbers)
                    </td>
                </tr>
                <tr type="lockout" class="lockoutTime">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.LockoutDuration, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.LockoutDuration)
                        @Html.ValidationMessageFor(model => model.LockoutDuration)
                        &nbsp;<span data-res="egov.resources.commonlabel.time._minute"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.passwordchangehistory"></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.EnableHistory, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.EnableHistory)
                        @Html.ValidationMessageFor(model => model.EnableHistory)
                    </td>
                </tr>
                <tr type="history">
                    <td>
                        &nbsp;&nbsp;@Html.EgovLabelFor(model => model.HistoryCount, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.HistoryCount)
                        @Html.ValidationMessageFor(model => model.HistoryCount)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b data-res="egov.resources.setting.passwordpolicy.defaultpassword"></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.DefaultCreatePassword, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DefaultCreatePassword)
                        @Html.ValidationMessageFor(model => model.DefaultCreatePassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.LabelHintFor(model => model.DefaultResetPassword, true):
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DefaultResetPassword)
                        @Html.ValidationMessageFor(model => model.DefaultResetPassword)
                    </td>
                </tr>
            </table>
        }
    </div>
</div>