<script src="@Url.Content("~/Scripts/bkav.egov/libs/knockout/knockout-3.4.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/surveyjs-1.5.18/survey.ko.js")"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/ace-1.2.0/ace.min.js")" type="text/javascript" charset="utf-8"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/ace-1.2.0/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>
<link href="@Url.Content("~/Scripts/bkav.egov/libs/surveyjs-1.5.18/survey-creator.css")" type="text/css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/bkav.egov/libs/surveyjs-1.5.18/survey-creator.js")"></script>
<style>
    .svd_commercial_container {
        display: none;
    }
</style>
<div class="row">
    <div class="container">
        <div class="form-group row">
            <label for="makhaosat" class="col-sm-2 col-form-label">Mã phiếu khảo sát</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="makhaosat" placeholder="mã phiếu khảo sát" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="tenkhaosat" class="col-sm-2 col-form-label">Tên phiếu khảo sát</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tenkhaosat" placeholder="Tên phiếu khảo sát" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Trạng thái</label>
            <div class="col-sm-10">
                <input class="form-check-input" type="checkbox" value="" id="status">
            </div>
        </div>
    </div>
</div>
<div id="surveyContainer">
    <div id="creatorElement"></div>
</div>

<script>
    //$(function() {
        var options = {
            showLogicTab: true
        };
        //create the SurveyJS Creator and render it in div with id equals to "creatorElement"
        var creator = new SurveyCreator.SurveyCreator("creatorElement", options);
        //Show toolbox in the right container. It is shown on the left by default
        creator.showToolbox = "right";
        //Show property grid in the right container, combined with toolbox
        creator.showPropertyGrid = "right";
        //Make toolbox active by default
        creator.rightContainerActiveItem("toolbox");

        Survey.Serializer.addProperty("selectBase", {
            name: "catalog",
            category: "choices",
            visibleIndex: 0,
            choices: ["Option 1", "Option 2", "Option 3", "Opiton 4", "Option 5"],
        });
        Survey.Serializer.addProperty("matrixBase", {
            name: "catalog1",
            category: "columns",
            visibleIndex: 0,
            choices: ["Option 1", "Option 2", "Option 3", "Opiton 4", "Option 5"],
        });
        Survey.Serializer.addProperty("matrixBase", {
            name: "catalog2",
            category: "rows",
            visibleIndex: 0,
            choices: ["Option 1", "Option 2", "Option 3", "Opiton 4", "Option 5"],
        });
    //});
   
</script>