@{
    Layout = "~/Areas/Admin/Views/DocType/_EditMain.cshtml";
    var allForm = ViewBag.AllForm as IEnumerable<Bkav.eGovCloud.Areas.Admin.Models.FormModel>;
}

<script type="text/javascript">
    $(function () {
        $("#submit").remove();
        $(".tab-form").addClass("active");
        $(".tab-form").siblings().removeClass(" ui-tabs-selected ui-state-active");
        $("#tblListForm").grid({
            isResizeColumn: true,
            isFixHeightContent: false
        });
    });

    function setFormCheck(_this, formid, doctypeid){
        var status = $(_this).is(":checked");
        $.ajax({
            url: "@Url.Action("ChangeIsActive")",
            type: "Get",
            data: {formid: formid, doctypeid: doctypeid, status: status},
            success: function(result){

            }
        });
    }

    function deleteDocTypeForm(id) {
        eGovMessage.show(
            '@Html.Raw(Localizer("Bkav.eGovCloud.Areas.Admin.Code.ConfirmDelete"))',
            null,
            eGovMessage.messageButtons.YesNo,
            function () {
                $("#formdelete" + id).submit();
            }
        );
    }

    function openDialog(url) {
        $("#my-dialog").dialog({
            width: 1000,
            height: 600,
            resizable: true,
            modal: true,
            open: function (event, ui) {
                $("#my-dialog").load(url);
            },
            buttons: [
                {
                    text: "@Html.Raw(Localizer("Common.Refresh.Label"))",
                    click: function () {
                        $("#my-dialog").load(url);
                    }
                },
                {
                    text: "@Html.Raw(Localizer("Common.Create.Label"))",
                    click: function () {
                        window.open("@Url.Action("Create", "Form")")
                    }
                },
                {
                    text: "@Html.Raw(Localizer("Common.Label.Select"))",
        click: function () {
            updateform();
            $('#my-dialog').dialog("close");
        }
    }
    ]
    });
    }
</script>
<style>
    .table {
        margin-bottom: 0;
    }
</style>
<div id="my-dialog">
</div>
    <button class="btn" type="button" data-res="egov.resources.doctype.addnewform" onclick="openDialog('@Url.Action("AddForm", "DocType", new { id = ViewBag.DocTypeId })')">
    </button>

    <table class="table-main table" id="tblListForm">
        <colgroup>
            <col />
            <col />
            <col style="width: 100px" />
            <col style="width: 100px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
        </colgroup>
        <thead>
            <tr>
                <th class="header" style="line-height: 2.5">@Localizer("Admin.Form.Index.List.Column.Name")
                </th>
                <th class="header" style="line-height: 2.5">@Localizer("Admin.Form.Index.List.Column.Description")</th>
                <th class="header">@Localizer("Admin.Form.Index.List.Column.Model")
                </th>
                <th class="header" style="line-height: 2.5">@Localizer("Admin.Form.Index.List.Column.IsActived")
                </th>
                <th class="header">Xem</th>
                <th class="header" style="line-height: 2.5">@Localizer("Admin.Form.Index.List.Column.Delete")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (allForm != null && allForm.Any())
            {
                foreach (var form in allForm)
                {
                <tr>
                    <td class="td-filter">
                        @form.FormName
                    </td>
                    <td>
                        @form.Description
                    </td>
                    <td>
                        @if (form.IsPrimary)
                        {<span>@Localizer("Bkav.eGovCloud.Areas.Admin.Form.IsPrimary")</span>}
                        else
                        {<span>@Localizer("Bkav.eGovCloud.Areas.Admin.Form.NotPrimary")</span>}
                    </td>
                    <td style="text-align: center;">
                        <input type="checkbox"
                                     @(form.IsActivated == 1 ? "checked='checked'" : "")
                                    onclick="setFormCheck(this,'@form.FormId', '@ViewBag.DocTypeID    ')" />
                    </td>
                    <td>
                        <a href="/admin/form/edit/@form.FormId">Xem</a>
                    </td>
                    <td>
                        <a href="javascript:deleteDocTypeForm('@(form.FormId)')">
                            @Localizer("Customer.DocType.Index.List.Column.Delete.Button")</a>
                        <form id="formdelete@(form.FormId)" style="display: none"
                                    action="@Url.Action("DeleteForm",
                                    new { Id = form.FormId, dtype = ViewBag.DoctypeId })" method="POST">
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" data-res="egov.resources.doctype.noformdata"></td>
                </tr>
            }
        </tbody>
    </table>