@model IEnumerable<OfficeModel>
@{
    ViewBag.Title = Localizer("Bkav.eGovCloud.Areas.Admin.Title.Office.Index");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/bkav.egov/libs/bkav/bkav.blockpanel.js")"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/jquery/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Scripts/bkav.egov/libs/bkav/bkav.grid.js")"></script>

<script type="text/javascript">
    function deleteOffice(id) {
        eGovMessage.show(
            '@Html.Raw(Localizer("Bkav.eGovCloud.Areas.Admin.Office.ConfirmDelete"))',
            null,
            eGovMessage.messageButtons.YesNo,
            function () {
                $("#formdelete" + id).submit();
            }
        );
    }

    function onBegin() {
        $("#divListOffice").blockpanel({ text: "@Localizer("Common.Notify.Loading")", borderWidth: 1 });
    }

    function onSuccess() {
        $('tr th').css("line-height", "2.5");
        $('#divListOffice').unblockpanel();
    }

    function onFailure() {
        alert("@Localizer("Common.Error")");
        $('#divListOffice').unblockpanel();
    }
</script>

<div class="section-header">
    <div class="title">
        <i class="fa icon-office"></i>
        <span data-res="egov.resources.sitemap.office"></span>
    </div>
    <div class="options">
        <a class="btn  btn-warning control-btn" href="/admin/office/Create">
            <span class="icon icon-plus"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.add"></span>
        </a>
    </div>
</div>
<div class="bkavegov">
    <div class="content-right" style="overflow: auto;">
        @Html.Partial("_Notifications")
        <div id="divListOffice">
            @{
                Html.RenderPartial("_OfficeList", Model);
            }
        </div>
    </div>
</div>