@model ProcessFunctionTypeModel
@{
    ViewBag.Title = Localizer("Bkav.eGovCloud.Areas.Admin.Title.ProcessFunction.CreateFunctionType");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="../../../../Scripts/bkav.egov/libs/jquery/jquery.validate.min.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/jquery/jquery.validate.unobtrusive.min.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/underscore/underscore-1.8.3.min.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/jquery/jQuery.tmpl.min.js"></script>
<script src="../../../../Scripts/release/bkav.egov/libs/knockout/knockout-3.3.0.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/knockout/knockout.mapping-latest.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/knockout/knockout.validation.js"></script>
@using (Html.BeginForm())
{
    <div class="col-md-3 left-content">
        <ul>
            <li>@Html.ActionLink("Danh sách", "Index")</li>
            <li>@Html.ActionLink(Localizer("Bkav.eGovCloud.Areas.Admin.Title.ProcessFunction.NodeList"), "ListFunctionType")</li>
            <li>@Html.ActionLink(Localizer("Common.Button.Create"), "CreateFunctionType")</li>
        </ul>
    </div>
    <div id="tabs" class="bkavegov col-md-13 right-content">
        <div class="bkavegov">
            @Html.Partial("_CreateOrEditFunctionType", Model)
            @Html.AntiForgeryToken()
            <div>
                <button type="submit" name="save" value="save">@Localizer("Common.Button.Save")</button>
                <button type="button" onclick="location.href='@Url.Action("ListFunctionType")'">@Localizer("Common.Button.Back")</button>
            </div>
        </div>
    </div>
}