@using ActiveQueryBuilder.Web.MVC
@model ActiveQueryBuilder.Web.Server.QueryBuilder
@{
    ViewBag.Title = "Báo cáo tổng hợp";
    var controls = Html.QueryBuilder(Model, s => s.Theme = "bootstrap");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootswatch/cosmo/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-ui-themes-1.12.1/themes/black-tie/jquery-ui.css")" />
    <script src="@Url.Content("~/Scripts/bkav.egov/libs/jquery/jquery-2.2.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bkav.egov/libs/jquery/jquery-ui-1.11.4.min.js")"></script>
    <link href="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/css/handsontable.full.min.css" rel="stylesheet" />
    <link href="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/css/pivot.css" rel="stylesheet" />
    <link href="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/js/handsontable.full.min.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/js/highstock.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/js/highcharts-more.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/js/pivot.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/demo/js/modules/treemap.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/novix.pivot.renderer.js"></script>
    <script src="~/Scripts/bkav.egov/libs/NovixPivotJS/hightchart_renderers.js"></script>
    <style>
        .section-title, .body-content {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-12">
                @controls.GetHtml()
                <div class="qb-ui-layout">
                    <div class="qb-ui-layout__top">
                        <div class="qb-ui-layout__left">
                            <div class="qb-ui-structure-tabs">
                                <div class="qb-ui-structure-tabs__tab">
                                    <input type="radio" id="tree-tab" name="qb-tabs" checked />
                                    <label for="tree-tab">Database</label>
                                    <div class="qb-ui-structure-tabs__content">
                                        @controls.ObjectTreeView().GetHtml()
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qb-ui-layout__right">
                            @controls.SubQueryNavigationBar().GetHtml()
                            @controls.Canvas().GetHtml()
                            @controls.StatusBar().GetHtml()
                            @controls.Grid().GetHtml()
                        </div>
                    </div>
                    <div class="qb-ui-layout__bottom">
                        @controls.SqlEditor().GetHtml()
                    </div>
                </div>
            </div>
        </div>
        <div class="diagramWrapper">
            <div id="output" class="pane"></div>
        </div>
        <hr />
        <footer>
           <button id="btnSaveQuery">Save</button>
        </footer>
    </div>
    <form action="/" method="post" id="formSubmit">
        <input type="hidden" name="SqlQuery" class="SqlQuery" value="" />
    </form>
    <script>
        $("#btnSaveQuery").click(function () {
            var sqlFirst = RenameSql($(".qb-ui-editor").find("textarea").val())
            var sql = "dashboard:" + sqlFirst;
            $("#SqlQuery").val($(".qb-ui-editor").find("textarea").val());
            $.ajax({
                url: "GetDataConfigReport",
                type: "post",
                data: {
                    sql: sql
                },
                success: function (result) {
                    var renderers = $.extend({}, $.pivotUtilities.novix_renderers, $.pivotUtilities.highchart_renderers);

                    $("#output").pivotUI(result, {
                        renderers: renderers,
                        //rows: ["Party", "Province"],
                        //cols: ["Age", "Gender"],
                        //rendererName: "Input Table",
                        //rendererOptions: {
                        //    onEditValues: function (changes) {
                        //        $(".changesOutput").html(JSON.stringify(changes));
                        //    },
                        //    onDrawTable: function (htTable) {
                        //        $(".changesOutput").empty();
                        //    },
                        //}
                    });
                }
            });
        });
        function RenameSql(sql) {
            var sqlAfter = sql;
            var strSelect = sql.split('Select').pop().split('From')[0];
            var listSelect = strSelect.split(",");
            for (var i = 0; i < listSelect.length; i++) {
                var strColumn = listSelect[i].trim();
                var listPropColumn = strColumn.split("As");
                var name = listPropColumn[0];
                var alias = listPropColumn[1].trim();
                name = name.split(".").length > 1 ? name.split(".")[1].trim() : name.trim();
                sqlAfter = sqlAfter.replace(alias, name);
            }
            return sqlAfter
        }
    </script>
</body>
</html>
