@model IEnumerable<CityModel>
@{
    var sortAndPage = ViewBag.SortAndPage as Bkav.eGovCloud.Admin.Models.SortAndPagingModel;
    var listPageSize = ViewBag.ListPageSize as List<int>;
    var number = (sortAndPage.CurrentPage - 1) * sortAndPage.PageSize;
}

<script type="text/javascript">
    $(function () {
        $("#tblCity").grid({
            isResizeColumn: true,
            isFixHeightContent: false
        });

        $("#tblCity").openEdit({ urlOpen: '/admin/City/Edit' });
    });

</script>
<table class="table-main table" id="tblCity">
    <colgroup>
        <col style="width: 50px" />
        <col />
        <col style="width: 190px" />
        <col style="width: 110px" />
        <col style="width: 50px" />
        <col style="width: 50px" />
    </colgroup>
    <thead>
        <tr>
            <th class="header">
                @Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.Numbers")
            </th>
            <th class="header">
                @Ajax.SortLink("CityName", Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.CityName"),
                sortAndPage.SortBy, sortAndPage.IsSortDescending,
                "SortAndPaging", "sort asc", "sort desc",
                new
                    {
                        page = sortAndPage.CurrentPage,
                        pageSize = sortAndPage.PageSize,
                        cityName = ViewBag.CityName,
                    },
                new AjaxOptions
                    {
                        UpdateTargetId = "divListCity",
                        OnBegin = "onBegin",
                        OnSuccess = "onSuccess",
                        OnFailure = "onFailure"
                    })
            </th>
            <th class="header">
                @Ajax.SortLink("CityCode", Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.CityCode"),
                sortAndPage.SortBy, sortAndPage.IsSortDescending,
                "SortAndPaging", "sort asc", "sort desc",
                new
                    {
                        page = sortAndPage.CurrentPage,
                        pageSize = sortAndPage.PageSize,
                        cityName = ViewBag.CityName
                    },
                new AjaxOptions
                    {
                        UpdateTargetId = "divListCity",
                        OnBegin = "onBegin",
                        OnSuccess = "onSuccess",
                        OnFailure = "onFailure"
                    })
            </th>
            <th>@Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.District")
            </th>
            <th class="header">
                @Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.Edit")
            </th>
            <th class="header">
                @Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.Delete")
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var city in Model)
            {
                number += 1;
            <tr data-id="@city.CityId">
                <td>@number
                </td>
                <td>@city.CityName
                </td>
                <td style="text-align: center">@city.CityCode
                </td>
                <td style="text-align: center;">
                    @Html.ActionLink(Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.AddDistrict"), "Create", "District", new { cityCode = city.CityCode }, null)
                </td>
                <td>
                    @Html.ActionLink(Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.Edit.Button"), "Edit", new { Id = city.CityId })
                </td>
                <td>
                    <a href="javascript:deleteCity(@(city.CityId))">@Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Column.Delete.Button")</a>
                    <form id="formdelete@(city.CityId)" style="display: none" action="@Url.Action("Delete", new { Id = city.CityId })" method="POST">
                        @Html.AntiForgeryToken()
                    </form>
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">@Localizer("Bkav.eGovCloud.Areas.Admin.City.Index.List.Null")
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="grid-pager grid-pager-wrap grid-pager-top" style="@(Model != null && Model.Any() ? "" : "display:none;")">
                @Ajax.Pager(sortAndPage.PageSize, sortAndPage.CurrentPage,
                              sortAndPage.TotalRecordCount, "SortAndPaging",
                              "pagerButton", "pagerButtonDisabled", "pagerButtonCurrentPage",
                              new
                                  {
                                      cityName = ViewBag.CityName,
                                      sortBy = sortAndPage.SortBy,
                                      isSortDesc = sortAndPage.IsSortDescending
                                  },
                              new AjaxOptions
                                  {
                                      UpdateTargetId = "divListCity",
                                      OnBegin = "onBegin",
                                      OnSuccess = "onSuccess",
                                      OnFailure = "onFailure"
                                  }, listPageSize)
            </td>
        </tr>
    </tfoot>
</table>
