@model CityModel
@{
    ViewBag.Title = Localizer("Bkav.eGovCloud.Areas.Admin.City.Created");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="../../../../Scripts/bkav.egov/libs/jquery/jquery.validate.min.js"></script>
<script src="../../../../Scripts/bkav.egov/libs/jquery/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#delete").click(function () {
            eGovMessage.show(
                '@Html.Raw(Localizer("Bkav.eGovCloud.Areas.Admin.City.ConfirmDelete"))',
                null,
                eGovMessage.messageButtons.YesNo,
                function () {
                    $("#formdelete").submit();
                }
            );
        });
    });
</script>
@using (Html.BeginForm())
{
    <div class="bkavegov-content-title">
        <h3>@Localizer("Bkav.eGovCloud.Areas.Admin.City.Title.Update")</h3>
    </div>
    <div id="tabs" class="bkavegov ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">@Html.ActionLink(@Localizer("Common.Button.List"), "Index")</li>
            <li class="ui-state-default ui-corner-top">@Html.ActionLink(Localizer("Common.Button.Create"), "Create")</li>
        </ul>
        <div class="bkavegov ui-tabs-panel ui-widget-content ui-corner-bottom">
            @Html.Partial("_CreateOrEdit", Model)
            @Html.AntiForgeryToken()
        </div>
    </div>
}
<form id="formdelete" style="display: none" action="@Url.Action("Delete", new { Id = Model.CityId })" method="POST">
    @Html.AntiForgeryToken()
</form>