<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />

    </head>
<body>
    <a href="@Url.Action("TestDownload")" class="btn btn-info">Stream Download</a>
    <hr />
    <a href="@Url.Action("Test1Download")" class="btn btn-info">GetPath Download</a>
    <hr />
    <a href="@Url.Action("Test2Download")" class="btn btn-info">GetPath To Stream Download</a>
</body>
</html>
